{% extends 'index2.html' %}
{% block content %}
<!-- table info start -->
    <div class="col-lg-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Symmap3-Herb-Herb-Cosine-Jiaoji</h4>
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead class="text-uppercase bg-info">
                                <tr class="text-white">
                                    <th scope="col">ID</th>
                                    <th scope="col">Herb1</th>
                                    <th scope="col">Herb2</th>
                                    <th scope="col">相关度</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for ress in res %}
                                <tr>
                                    <th scope="row">{{ ress.0 }}</th>
                                    <td>{{ ress.2 }}</td>
                                    <td>{{ ress.3 }}</td>
                                    <td>{{ ress.1 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <nav aria-label="...">
                            <ul class="pagination pg-color-border">
                                   {{ pagestring }}
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <form method="get">
                            <div class="input-group" style="width: 200px">
                                <input type="text" name="page" class="form-control">
                                <button type="submit" class="btn btn-primary">跳转</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- table info end -->
    </div>
{% endblock %}