<!doctype html>
<html class="no-js" lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>srtdash - Ecommerce Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/static/assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/static/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="/static/assets/css/typography.css">
    <link rel="stylesheet" href="/static/assets/css/default-css.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
    <link rel="stylesheet" href="/static/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="/static/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
</head>

<body onload="myfunction()">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="search-box pull-left">
                            <form action="searchres">
                                <input type="text" name="search" placeholder="全局搜索..." required>
                                <i class="ti-search"></i>
                            </form>
                        </div>
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-4 clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            <li class="dropdown">
                                <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                    <span>2</span>
                                </i>
                                <div class="dropdown-menu bell-notify-box notify-box">
                                    <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                                    <div class="nofity-list">
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                            <div class="notify-text">
                                                <p>You have Changed Your Password</p>
                                                <span>Just Now</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                            <div class="notify-text">
                                                <p>New Commetns On Post</p>
                                                <span>30 Seconds ago</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-key btn-primary"></i></div>
                                            <div class="notify-text">
                                                <p>Some special like you</p>
                                                <span>Just Now</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                            <div class="notify-text">
                                                <p>New Commetns On Post</p>
                                                <span>30 Seconds ago</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-key btn-primary"></i></div>
                                            <div class="notify-text">
                                                <p>Some special like you</p>
                                                <span>Just Now</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                            <div class="notify-text">
                                                <p>You have Changed Your Password</p>
                                                <span>Just Now</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                            <div class="notify-text">
                                                <p>You have Changed Your Password</p>
                                                <span>Just Now</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown">
                                <i class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span>3</span></i>
                                <div class="dropdown-menu notify-box nt-enveloper-box">
                                    <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                                    <div class="nofity-list">
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb">
                                                <img src="/static/assets/images/author/author-img1.jpg" alt="image">
                                            </div>
                                            <div class="notify-text">
                                                <p>Aglae Mayer</p>
                                                <span class="msg">Hey I am waiting for you...</span>
                                                <span>3:15 PM</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb">
                                                <img src="/static/assets/images/author/author-img2.jpg" alt="image">
                                            </div>
                                            <div class="notify-text">
                                                <p>Aglae Mayer</p>
                                                <span class="msg">When you can connect with me...</span>
                                                <span>3:15 PM</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb">
                                                <img src="/static/assets/images/author/author-img3.jpg" alt="image">
                                            </div>
                                            <div class="notify-text">
                                                <p>Aglae Mayer</p>
                                                <span class="msg">I missed you so much...</span>
                                                <span>3:15 PM</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb">
                                                <img src="/static/assets/images/author/author-img4.jpg" alt="image">
                                            </div>
                                            <div class="notify-text">
                                                <p>Aglae Mayer</p>
                                                <span class="msg">Your product is completely Ready...</span>
                                                <span>3:15 PM</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb">
                                                <img src="/static/assets/images/author/author-img2.jpg" alt="image">
                                            </div>
                                            <div class="notify-text">
                                                <p>Aglae Mayer</p>
                                                <span class="msg">Hey I am waiting for you...</span>
                                                <span>3:15 PM</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb">
                                                <img src="/static/assets/images/author/author-img1.jpg" alt="image">
                                            </div>
                                            <div class="notify-text">
                                                <p>Aglae Mayer</p>
                                                <span class="msg">Hey I am waiting for you...</span>
                                                <span>3:15 PM</span>
                                            </div>
                                        </a>
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb">
                                                <img src="/static/assets/images/author/author-img3.jpg" alt="image">
                                            </div>
                                            <div class="notify-text">
                                                <p>Aglae Mayer</p>
                                                <span class="msg">Hey I am waiting for you...</span>
                                                <span>3:15 PM</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="settings-btn">
                                <i class="ti-settings"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Dashboard</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="/index">Home</a></li>
                                <li><span>Dashboard</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <img class="avatar user-thumb" src="/static/assets/images/author/avatar.png" alt="avatar">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Kumkum Rai <i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Message</a>
                                <a class="dropdown-item" href="#">Settings</a>
                                <a class="dropdown-item" href="#">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->
            {% block content %}
            <div class="main-content-inner">
                <!-- sales report area start -->
                <div class="sales-report-area sales-style-two">
                    <div class="row">
                        <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">symmap3-herb-MM</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center">
                                            <thead class="text-uppercase bg-primary">
                                                <tr class="text-white">
                                                    <th scope="col">herb</th>
                                                    <th scope="col">MM1</th>
                                                    <th scope="col">MM2</th>
                                                    <th scope="col">MM3</th>
                                                    <th scope="col">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">{{ res1.0.Herb }}</th>
                                                    {% for obj in res1 %}
                                                    <td scope="row">{{ obj.Gene }}</td>
                                                    {% endfor %}
                                                    <td>
                                                        <a class="btn btn-primary btn-xs" href="/more/?name={{ res1.0.Herb }}&got={{ 1 }}" target="_blank">更多</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{ res2.0.Herb }}</th>
                                                    {% for obj in res2 %}
                                                    <td scope="row">{{ obj.Gene }}</td>
                                                    {% endfor %}
                                                    <td>
                                                        <a class="btn btn-primary btn-xs" href="/more/?name={{ res2.0.Herb }}&got=1" target="_blank">更多</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{ res3.0.Herb }}</th>
                                                    {% for obj in res3 %}
                                                    <td scope="row">{{ obj.Gene }}</td>
                                                    {% endfor %}
                                                    <td>
                                                        <a class="btn btn-primary btn-xs" href="/more/?name={{ res3.0.Herb }}&got=1" target="_blank">更多</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                     <th scope="row">{{ res4.0.Herb }}</th>
                                                    {% for obj in res4 %}
                                                    <td scope="row">{{ obj.Gene }}</td>
                                                    {% endfor %}
                                                    <td>
                                                        <a class="btn btn-primary btn-xs" href="/more/?name={{ res4.0.Herb }}&got=1" target="_blank">更多</a>
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td><a href="/symall/?id=1&page=1" target="_blank">更多 · · ·</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Symmap3-Herb-target</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center">
                                            <thead class="text-uppercase bg-success">
                                                <tr class="text-white">
                                                    <th scope="col">herb</th>
                                                    <th scope="col">target1</th>
                                                    <th scope="col">target2</th>
                                                    <th scope="col">target3</th>
                                                    <th scope="col">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">{{ res5.0.Herb }}</th>
                                                    {% for obj in res5 %}
                                                    <td scope="row">{{ obj.Gene }}</td>
                                                    {% endfor %}
                                                    <td>
                                                        <a class="btn btn-primary btn-xs" href="/more/?name={{ res5.0.Herb }}&got=2" target="_blank">更多</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{ res6.0.Herb }}</th>
                                                    {% for obj in res6 %}
                                                    <td scope="row">{{ obj.Gene }}</td>
                                                    {% endfor %}
                                                    <td>
                                                        <a class="btn btn-primary btn-xs" href="/more/?name={{ res6.0.Herb }}&got=2" target="_blank">更多</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">{{ res7.0.Herb }}</th>
                                                    {% for obj in res7 %}
                                                    <td scope="row">{{ obj.Gene }}</td>
                                                    {% endfor %}
                                                    <td>
                                                        <a class="btn btn-primary btn-xs" href="/more/?name={{ res7.0.Herb }}&got=2" target="_blank">更多</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                     <th scope="row">{{ res8.0.Herb }}</th>
                                                    {% for obj in res8 %}
                                                    <td scope="row">{{ obj.Gene }}</td>
                                                    {% endfor %}
                                                    <td>
                                                        <a class="btn btn-primary btn-xs" href="/more/?name={{ res8.0.Herb }}&got=2" target="_blank">更多</a>
                                                    </td>
                                                </tr>
                                            <tr>

                                                    <td><a href="/symall/?id=2&page=1" target="_blank">更多 · · ·</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sales report area end -->

               <!-- Primary table start -->
                 <!-- table info start -->
                    <div class="col-lg-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Symmap3-Herb-Herb-Cosine-Jiaoji</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center">
                                            <thead class="text-uppercase bg-info">
                                                <tr class="text-white">
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Herb1</th>
                                                    <th scope="col">Herb2</th>
                                                    <th scope="col">相关度</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for ress in res %}
                                                <tr>
                                                    <th scope="row">{{ ress.0 }}</th>
                                                    <td>{{ ress.2 }}</td>
                                                    <td>{{ ress.3 }}</td>
                                                    <td>{{ ress.1 }}</td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td><a href="/HHall/?page=1" target="_blank"> 全部 · · ·</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- table info end -->
                    <div class="sales-report-area sales-style-two">
                    <div class="row">
                        <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">基因-疾病</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center">
                                            <thead class="text-uppercase bg-light">
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Gene</th>
                                                    <th scope="col">Dis</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for obj in newres1 %}
                                                <tr>
                                                    <th scope="row">{{ obj.0 }}</th>
                                                    <td scope="row">{{ obj.1 }}</td>
                                                    <td scope="row">{{ obj.2 }}</td>
                                                </tr>
                                                {% endfor %}
                                                <tr>
                                                    <td><a href="/finalall/?page=1" target="_blank">更多 · · ·</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">基因-基因相关度</h4>
                                <div class="single-table">
                                    <div class="table-responsive">
                                        <table class="table text-center">
                                            <thead class="text-uppercase bg-light">
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Gene1</th>
                                                    <th scope="col">Gene2</th>
                                                    <th scope="col">相关度</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for obj in newres2 %}
                                                <tr>
                                                    <th scope="row">{{ obj.0 }}</th>
                                                    <td scope="row">{{ obj.1 }}</td>
                                                    <td scope="row">{{ obj.2 }}</td>
                                                    <td scope="row">{{ obj.3 }}</td>
                                                </tr>
                                                {% endfor %}
                                            <tr>
                                                <td><a href="/finalall2/?page=1" target="_blank">更多 · · ·</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        <!-- main content area end -->
        <!-- footer area start-->
        <!-- footer area end-->

    <!-- page container area end -->
    <!-- offset area start -->

    <!-- offset area end -->
    <!-- jquery latest version -->
    <script src="/static/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="/static/assets/js/popper.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/owl.carousel.min.js"></script>
    <script src="/static/assets/js/metisMenu.min.js"></script>
    <script src="/static/assets/js/jquery.slimscroll.min.js"></script>
    <script src="/static/assets/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="/static/assets/js/line-chart.js"></script>
    <!-- all bar chart activation -->
    <script src="/static/assets/js/bar-chart.js"></script>
    <!-- all pie chart -->
    <script src="/static/assets/js/pie-chart.js"></script>
    <!-- others plugins -->
    <script src="/static/assets/js/plugins.js"></script>
    <script src="/static/assets/js/scripts.js"></script>
</body>

</html>
